.typist{
    color: white;
    line-height: 75px;
    background-color: rgba(0, 0, 0, 0.521);
    margin-top: 80px;

  }

  .typist h1{
    font-size: 8em;
  }
  
  .typist h3{
    font-size: 32px;
    margin: 40px;
    font-size: 3em;
  }