.projectsHeading{
  background-image: url(./image2.jpg);
  background-size: cover;
  padding: 20px;
  width: 400px;
  height: 400px;
  margin: auto;
  margin-bottom: 20px;
  text-shadow: 4px 4px 4px rgb(0, 0, 0);
  display: flex;
}
.projectsHeading h1{
  margin:auto
}

.projects{
  color: white;
  font-size: 2em;
}

.projectCard{
  margin: 100px;
  border: 3px solid white;
  background-color: transparent;
  border-radius: 7px;
  padding: 40px;
}

.projectCard h5{
  font-size: 2.3em;
}

.projectCard:hover{
  transition: transform .7s;
  transform: scaleY(1.2);
  box-shadow:
    0 0 60px 30px #fff,
    0 0 100px 60px #f0f,
    0 0 140px 90px #0ff;
}
.projectLink{
  border: 3px solid white;
  padding: 10px;
  border-radius: 7px;
}
.projectLink:hover{
  background-color: rgb(199, 83, 199);
  text-shadow: 4px 4px 4px rgb(0, 0, 0);
  box-shadow: 5px 5px 5px #fff;
  transition: transform .7s;
}