.projectsHeading{
  background-image: url(./image2.jpg);
  background-size: cover;
  padding: 20px;
  width: 400px;
  height: 400px;
  margin: auto;
  margin-bottom: 20px;
  align-items: center;
  text-shadow: 4px 4px 4px rgb(0, 0, 0);
}

.projects{
  color: white;
  font-size: 2em;
}
  
  