.projectsHeading{
  background-image: url(./image2.jpg);
  background-size: cover;
  padding: 20px;
  width: 400px;
  height: 400px;
  margin: auto;
  margin-bottom: 20px;
  text-shadow: 4px 4px 4px rgb(0, 0, 0);
}

.projects{
  color: white;
  font-size: 2em;
}

.projectCard{
  display: flex;
  justify-content: center;
  margin: 40px;
}
.projectInfo{
  border: 3px solid white;
  border-radius: 7px;
  padding: 40px;
}