

.header{
    display: flex;
    justify-content: row;

}

img{
    box-shadow: 10px 10px 5px rgba(19, 17, 17, 0.597);
}

.calc{
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}


.calc p{
    color: #423E42;
    font-size: 12pt;
}

.notNetflix{
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.notNetflix p{
    color: #423E42;
    font-size: 12pt;
}

.bookBelles{
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.bookBelles p{
    color: #423E42;
    font-size: 12pt;
}

.bookIcon{
    width: 3mm;
}

.resume{
    display: flex;
    justify-content: center;
}

h1{
    color: #92A3A2;
    font-size: 52pt;
    margin-bottom: 0%;
    margin-top: 0%;
    text-shadow: 10px 10px 5px rgba(19, 17, 17, 0.994);
}
h2{
    color: #92A3A2;
    font-size: 32pt;
    margin-top: 0pt;
}
h3{
    color:#92A3A2;
    font-size: 20pt;
}

.home{
    display: flex;
    justify-content: column;
}

.body{
    overflow: hidden;
}

.typist{
    width: 30%;  
}

.projects{

    margin-right: 5%;
    margin-left: 5%;
    text-align: center;
    margin-top: 20mm;
}

.aboutMe{
    margin-right: 5%;
    margin-left: 5%;
    text-align: center;
    margin-top: 20mm;
}

.aboutMe p{
    font-family: Arial, Helvetica, sans-serif;
    color: #423E42;
    font-size: 12pt;
}
