.navBar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(14, 17, 17);
    box-shadow: 4px 4px 4px rgb(29, 26, 26);
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
}
.navBar img{
    height: 200px;
    width: 150px;
    margin: auto;
    margin-top: 40px;
}

.navLinks{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70vh;
    color: white;
    text-shadow: 4px 4px 4px rgb(0, 0, 0);
    font-size: 1.7em;
}

.navLink:hover{
    background-color: rgb(134, 134, 119);
    transform: scaleX(1.2);
    transition: transform .7s; 
    text-shadow: 4px 4px 4px rgb(10, 10, 10);
    font-size: 2em;
}

@media (max-width: 850px){
  .navBar{
    display: flex;
    position: fixed;
    top:0;
    width: 100%;
    height: 100px;
  }
  .navLinks{
    display: flex;
    flex-direction: row;
    font-size: 1.3em;
  }
  .navLink:hover{
    transform: none;
    font-size: 1.3em;
    background-color: rgb(14, 17, 17);;
    
  }
  .navBar img{
    height: 0;
    width: 0;
  }
}

@media (max-width: 550px){
  .navLinks{
    font-size: .8em;
  }
  .navBar{
    height: 75px;
  }
}
 

