ul{
    display: flex;
    justify-content: flex-end;
    background-color: rgba(254, 223, 47, 0.905);
    color: red;
    margin-top: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
}

p{
    margin: 20px;
    color: red;
    margin-right: 30px;
}
 
