.backgroundimage{
    overflow: hidden;
  }
 body{
   margin: 0%;
 }

 .App{
   text-align: center;

 }

 a{
   text-decoration: none;
   color: inherit;
 }

 /* Tundora
 #423E42
 
 Silver Sand
 #BABCBF
 
 Pewter
 #92A3A2
 
 Regent Gray
 #8B939D */