 body{
   margin: 0%;
 }

 .App{
   text-align: center;

 }

 a{
   text-decoration: none;
   color: inherit;
 } 

 body{
   padding-left: 300px;
 }



.aboutMe{
  height: 700px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16pt;
  align-content: center;
  line-height: 50px;
  color:#5F3B3E;
  padding-left: 70px;
  padding-right: 70px;
  align-items: center;
}

.aboutMe h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 52pt;
  font-weight: bold;
  color: #FD6F39;
}


