.aboutMe{
    color: white;
    font-size: 2em;
}
.aboutMeHeading{
    background-image: url(./image1.jpg);
    background-size: cover;
    padding: 20px;
    width: 400px;
    height: 370px;
    margin: auto;
    margin-bottom: 20px;
    text-shadow: 4px 4px 4px rgb(0, 0, 0);
}

.aboutMeInfo{
    border: 3px solid white;
    border-radius: 7px;
    padding: 40px;
}